{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block main %}

<script>
    function myFunction() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for exercise..">
<br>
<br>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Sets</th>
            <th>Reps</th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO: Loop through the database entries to display them in this table -->

            {% for exercises in exercises %}
                <tr>
                    <td>{{ exercises['date'] }}</td>
                    <td>{{ exercises['name'] }}</td>
                    <td>{{ exercises['weight'] }}</td>
                    <td>{{ exercises['sets'] }}</td>
                    <td>{{ exercises['reps'] }}</td>
                </tr>

            {% endfor %}
    </tbody>
</table>

{% endblock %}